// start .sProfile
.sProfile {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	.section-title{
		
	}
	&__wrap {
		margin-bottom: rem(20);
		@include media-breakpoint-up(lg) {
			padding: rem(24);
			background-color: $gray-200;
			border-radius: rem(12);
			margin-bottom: rem(40);
		}
		table {
			width: 100%;
			max-width: rem(532);
			margin: 0 auto;
			td {
				border-bottom: 1px solid $gray-300;
				padding: rem(14.140);
				&:first-child {
					padding-right: rem(8);
					font-family: $font-family-monospace;
					font-size: rem(12);
					line-height: 1.4;
					color: $gray-600;
				}
				&:last-child {
					padding-left: rem(8);
					text-align: right;
				}
			}
		}
	}
	&__row {
		--bs-gutter-y: #{rem(16)};

		// align-items: center;
	}
	&__avatar {
		text-align: center;
		img {
			width: rem(154);
			height: rem(154);
			object-fit: cover;
			border-radius: 50%;
			background-color: $gray-200;
			display: block;
			margin: 0 auto rem(24) auto;
			font-size: rem(14);
			line-height: 1.3;
		}
		.input-upload {
			display: none;
		}
	}
	&__change {
		@include mt;
		font-size: rem(12);
		line-height: 1.3;
		color: $primary;
		&:hover {
			color: $link-hover-color;
		}
	}
	&__edit {
		padding: rem(16);
		border-radius: rem(8);
		background-color: $gray-200;
		@include media-breakpoint-up(lg) {
			border-radius: rem(16);
			background-color: var(--panel-bg, #fff);
			min-width: rem(266);
		}
		&-link {
			display: flex;
			align-items: center;
			max-width: max-content;
			color: $body-color;
			line-height: 1.4;
			&:not(:last-child) {
				margin-bottom: rem(16);
			}
			&:hover {
				color: $primary;
			}
			.icon {
				flex: 0 0 auto;
				font-size: rem(20);
				color: $primary;
				margin-right: rem(8);
				fill: none;
				stroke: currentColor;
				stroke-width: rem(2);
			}
		}
	}
	h3 {
		line-height: 1.78;
		margin-bottom: rem(12);
		color: $gray-700;
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(24);
		}
	}
	&__table-wrap {
		border: 1px solid $gray-300;
		border-radius: rem(8);
		overflow: auto;
		@include media-breakpoint-up(lg) {
			border-radius: rem(12);
		}
		table {
			width: 100%;
			min-width: rem(855);
			tr {
				&:not(:last-child) {
					td {
						border-bottom: 1px solid $gray-300;
					}
				}
			}
			th {
				padding: rem(12) rem(12) rem(10.600);
				border-bottom: 1px solid $gray-300;
				color: $gray-600;
				font-size: rem(12);
				line-height: 1.3;
				font-weight: 400;
				&:nth-child(1) {
					width: rem(98);
				}
				&:nth-child(2) {
					width: rem(112);
					@include media-breakpoint-up(xxl) {
						width: rem(210);
					}
				}
				&:nth-child(4) {
					width: rem(196);
					@include media-breakpoint-up(xl) {
						width: rem(378);
					}
				}
				&:nth-child(5) {
					width: rem(153);
				}
			}
			td {
				padding: rem(9) rem(12);
				img {
					border-radius: rem(4);
					margin-right: rem(16);
				}
				span {
					font-family: $font-family-monospace;
				}

			}
		}
	}
	&__price {
		display: flex;
		align-items: center;
		a {
			flex: 0 0 auto;
			margin-left: auto;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sProfile