mixin sDeal(data)
	// start sDeal
	+b.SECTION.sDeal.section#sDeal&attributes(attributes)
		+b.section-title
			.row
				.col-md-auto
					h1 Сделки
				.col-md
					+e.bot
						p Бот для получения уведомлений о сделках: #[a(href="https://t.me/pensionny40bot" target='_blank') @pensionny40bot]
						+e.btn(href='#') Перейти в 
							span.d-none.d-md-inline Telegram
							span.d-md-none Tg
						+img('img/telegram.png')
		table
			tr
				th Актив
				th.text-lg-center Тип сделки
				th.text-lg-center Дата
				th.text-lg-end Стоимость
				th.text-lg-end Кол-во, шт
				th.text-lg-end Сумма
			tr
				td 
				td.text-lg-center: .badge.bg-success Покупка
				td.text-lg-center 11.12.2023 14:00
				td.text-lg-end
					+e.price #[span 347,05] ₽
				td.text-lg-end 60
				td.text-lg-end 
					+e.price #[span.text-success 20 823,05] ₽
	// end sDeal