// start .sDeal
.sDeal {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	--sTPB: #{rem(16)};
	position: relative;
	@include media-breakpoint-up(lg) {
		--sTPB: #{rem(40)};
	}
	&:has(.sDeal__deal-sticky.sticky) {
		z-index: 1;
		&::after {
			content: '';
			position: fixed;
			display: block;
			width: 200vw;
			height: rem(40);
			top: 0;
			left: -50vw;
			// z-index: -1;
			background-color: var(--bs-body-bg);
		}
	}
	&__deal-sticky{
		&.sticky {
			z-index: 100;
			background-color: var(--panel-bg, #{$white});
			border-radius: rem(8) rem(8) 0 0;
			border-bottom: 1px solid var(--table-border-color, $gray-300);
			margin-left: rem(-12);
			margin-right: rem(-12);
			width: calc(100% - rem(32)) !important;
			padding: rem(12);
			.sDeal__sum {
				margin-bottom: 0;
			}
			.section-title__col, .sDeal__filter {
				display: none;
			}
		}
	}
	.section-title{
		.row {
			--bs-gutter-y: #{rem(16)};
			align-items: center;
		}
		&__bot {
			display: flex;
			align-items: center;
			overflow: hidden;
			position: relative;
			border-radius: rem(8);
			background-color: $body-color;
			padding: rem(8);
			color: $white; 
			max-width: rem(693);
			margin-left: auto;
			z-index: 1;
			@include media-breakpoint-up(lg) {
				padding: rem(12);
				border-radius: rem(16);
			}
			p {
				margin-bottom: 0;
				font-size: rem(12);
				@include media-breakpoint-up(lg) {
					font-size: rem(14);
				}
			}
			img {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 23%;
				z-index: -1;
				display: none;
				@include media-breakpoint-up(lg) {
					display: block;
				}
			}
			&--added {
				@include media-breakpoint-up(md) {
					max-width: rem(319);
				}
				p {
					&:before {
						content: '';
						display: inline-block;
						background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_4051_2203)'%3E%3Ccircle cx='10' cy='10' r='6' fill='url(%23paint0_radial_4051_2203)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_4051_2203' x='0' y='0' width='20' height='20' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.282353 0 0 0 0 0.909804 0 0 0 0 0.270588 0 0 0 1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_4051_2203'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_4051_2203' result='shape'/%3E%3C/filter%3E%3CradialGradient id='paint0_radial_4051_2203' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(10 10) rotate(90) scale(6)'%3E%3Cstop stop-color='%2353F84F'/%3E%3Cstop offset='1' stop-color='%230A8D07'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
						background-position: center;
						background-repeat: no-repeat;
						background-size: contain;
						width: rem(20);
						height: rem(20);
						margin-right: rem(12);
						vertical-align: top;
					}
				}
				// .section-title__btn {
				// 	margin-left: rem(24);
				// }
			}
		}
		&__btn {
			margin-left: auto;
			font-size: rem(13);
			line-height: 1.3;
			font-family: $font-family-PTRootUI;
			padding: rem(3.248) rem(12);
			border-radius: rem(6);
			background: $white;
			box-shadow: 0px 1px 1.4px 0px rgba(0, 0, 0, 0.25);
			color: $body-color;
			min-width: rem(102);
			&:hover {
				color: $primary;
			}
			@include media-breakpoint-up(md) {
				border-radius: rem(8);
			}
		}
	}
	table {
		width: 100%;
		tr {
			// td {
			// 	border-bottom: 1px solid var(--table-border-color, $gray-300);
			// }
			// &:not(:last-child) {
			// }
		}
		thead {
			display: none;
			@include media-breakpoint-up(lg) {
				display: table-header-group;
			}
		}
		tbody {
			@include media-breakpoint-down(lg) {
				tr {
					display: flex;
					flex-wrap: wrap;
					border: 1px solid var(--table-border-color, $gray-300);
					padding: rem(7);
					position: relative;
					border-radius: rem(8);
					row-gap: rem(12);
					&:not(:last-child) {
						margin-bottom: rem(8);
					}
					td {
						width: 50%;
						&:nth-child(1) {
							width: 100%;
							margin-bottom: rem(4);
							order: 1;
						}
						&:nth-child(2) {
							position: absolute;
							top: rem(7);
							right: rem(7);
							width: auto;
							order: 2;
						}
						&:nth-child(3) {
							order: 3;
						}
						&:nth-child(4) {
							order: 5;
						}
						&:nth-child(5) {
							order: 4;
						}
						&:nth-child(6) {
							order: 6;
						}
					}
				}
			}
		}
		th {
			padding: rem(12) rem(12) rem(10.600);
			border-bottom: 1px solid var(--table-border-color, $gray-400);
			color: var(--table-th-color, $gray-600);
			font-size: rem(12);
			line-height: 1.3;
			font-weight: 400;
			&:not(:first-child) {
				@include media-breakpoint-up(lg) {
					width: 12.92%;
				}
				@include media-breakpoint-up(xl) {
					width: 13.92%;
				}
			}
		}
		td {
			@include media-breakpoint-up(lg) {
				border-bottom: 1px solid var(--table-border-color, $gray-300);
				padding: rem(7) rem(12);
				min-height: rem(64);
			}
			&:nth-child(1) {
				padding-left: rem(0);
			}
			&:nth-child(3) {
				font-weight: 400;
				line-height: 1.3;
				color: var(--body-color-dark-secondary, #{$gray-600});
			}
			.title {
				display: block;
				font-size: rem(12);
				line-height: 1.3;
				color: $gray-600;
				@include media-breakpoint-up(lg) {
					display: none;
				}
			}
		}
	}
	&__price {
		color: var(--body-color-dark-secondary, #{$gray-600});
		span {
			color: var(--body-color-dark-secondary, $body-color);
		}
	}
	&__item {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@include media-breakpoint-up(lg) {
			flex-wrap: nowrap;
		}
		.h4 {
			line-height: 1.3;
			margin-bottom: rem(4);
		}
		p {
			font-size: rem(11);
			color: $gray-600;
			font-family: $font-family-PTRootUI;
			margin-bottom: 0;
		}
	}
	&__img-wrap {
		width: 100%;
		max-width: rem(40);
		flex: 0 0 auto;
		margin-right: rem(16);
		border-radius: rem(5);
		overflow: hidden;
		@include block(1,1);
		img {
			width: 100%;
		}
	}
	&__tags {
		width: 100%;
		margin-top: rem(16);
		@include media-breakpoint-up(lg) {
			width: auto;
			margin-top: rem(3.800);
		}
		.row {
			--bs-gutter-x: #{rem(8)};
			--bs-gutter-y: #{rem(8)};
		}
	}
	&__tag {
		color: var(--tagColor);
		font-family: $font-family-HelveticaNeueLTStd;
		font-size: rem(12);
		line-height: 1.3;
		background-color: var(--tagBgColor);
		border-radius: rem(4);
		padding: rem(3.200) rem(8.5);
		font-weight: 400;
	}
	.badge {
		--bs-badge-padding-y: #{rem(4.200)};
		@include media-breakpoint-up(md) {
			--bs-badge-padding-y: #{rem(5.600)};
		}
		&.bg-success {
			color: rgba($color: var(--bs-success-rgb, #{$success}), $alpha: 1.0);
		}
		&.bg-danger {
			color: rgba($color: var(--bs-danger-rgb, #{$danger}), $alpha: 1.0)
		}
		&.bg-accent {
			color: rgba($color: var(--bs-accent-rgb, #{$accent}), $alpha: 1.0);
		}
	}
	.custom-select {
		@include media-breakpoint-up(lg) {
			min-width: rem(275);
		}
	}
	&__sum {
		display: flex;
		align-items: center;
		@include media-breakpoint-down(lg) {
			border: 1px solid var(--table-border-color, $gray-300);
			border-radius: rem(8);
			margin-bottom: rem(16);
		}
		@include media-breakpoint-up(lg) {
			position: fixed;
			bottom: rem(14);
			right: rem(16);
			width: calc(100% - rem(142));
			background-color: var(--switcher-bg, #{$white});
			z-index: 100;
			border-top: 1px solid var(--table-border-color, $gray-400);
			border-radius: 0 0 rem(16) rem(16);
		}
		&-title {
			flex-grow: 1;
			display: none;
			padding: rem(0) rem(24);
			font-size: rem(14);
			line-height: 1.2;
			@include media-breakpoint-up(lg) {
				display: block;
			}
		}
		&-item {
			display: flex;
			align-items: center;
			width: 100%;
			padding: rem(6) rem(8);
			@include media-breakpoint-down(lg) {
				&:not(:last-of-type) {
					border-right: 1px solid var(--table-border-color, $gray-400);
				}
			}
			@include media-breakpoint-up(lg) {
				border-left: 1px solid var(--table-border-color, $gray-400);
				max-width: rem(321);
				padding: rem(10.450) rem(24);
			}
			& > span {
				font-family: $font-family-PTRootUI;
				font-size: rem(11);
				line-height: 1.3;
			}
		}
	}
	&__num {
		color: $gray-600;
    font-size: rem(14);
    line-height: 1.4;
		margin-left: auto;
		@include media-breakpoint-up(lg) {
			font-size: rem(18);
		}
		span {
			color: var(--price-color-dark, #{$body-color});
		}
	}
	&__filter {
		margin-bottom: rem(12);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(24);
		}
		.row {
			--bs-gutter-x: #{rem(16)};
		}
	}
	&__radio-input-wrap {
		border-radius: rem(8);
		background-color: var(--switcher-bg, $gray-200);
		padding: rem(3);
		display: flex;
		align-items: center;
		gap: rem(8);
		@include media-breakpoint-up(lg) {
			padding: rem(8);
			border-radius: rem(12);
			min-width: rem(250);
		}
		.custom-input {
			position: relative;
			margin-bottom: 0;
			min-height: auto;
			padding-left: 0;
			padding: rem(6.600) rem(13);
			text-align: center;
			@include media-breakpoint-up(lg) {
				width: 100%;
				padding: rem(9.600) rem(16);
			}
			&__input {
				@include mt;
				margin-left: 0;
				margin-top: 0;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: transparent;
				border: none;
				border-radius: rem(8);
				&:focus {
					box-shadow: none;
				}
				&:checked {
					background-image: none;
					background-color: var(--switcher-btn-active-bg, #{$white});
					box-shadow: 0px 1px 1.4px 0px var(--switcher-btn-active-shadow, rgba(0, 0, 0, 0.25));
				}
			}
			&__text {
				position: relative;
				font-size: rem(14);
				line-height: 1.3;
			}
		}
	}
	.date {
		border-radius: rem(8);
		display: flex;
		align-items: center;
		position: relative;
		overflow: hidden;
		background-color: var(--switcher-bg, $gray-200);
		color: var(--switcher-btn-color, #{$body-color});
		padding: rem(4) rem(2);
		width: 100%;
		@include media-breakpoint-up(lg) {
			padding: rem(12);
			border-radius: rem(12);
			min-width: rem(245);
		}
		.date-text {
			line-height: 1.3;
			margin: 0 auto;
			text-align: center;
		}
		&__btn{
			@include mt;
			color: inherit;
			width: rem(32);
			height: rem(32);
			position: relative;
			border-radius: rem(8);
			border: none !important;
			box-shadow: 0px 1px 1.4px 0px var(--switcher-btn-active-shadow, rgba(0, 0, 0, 0.25));
			outline: none !important;
			background-color: var(--switcher-btn-active-bg, #{$white});
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				box-shadow: none;
			}
		}
	}
	&__filter-col {
		@include media-breakpoint-down(xl) {
			width: 0;
			height: 0;
			padding: 0 !important;
			margin: 0 !important;
		}
	}
	&__filter-btn {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: rem(8);
		background: var(--switcher-bg, $gray-200);
		width: rem(40);
		height: rem(40);
		color: $primary;
		cursor: pointer;
		&.active {
			&:before {
				content: '';
				position: absolute;
				display: block;
				width: rem(8);
				height: rem(8);
				border-radius: 50%;
				background-color: $danger;
				right: rem(-2);
				top: rem(-2);
			}
		}
		.icon {
			font-size: rem(16);
			fill: none;
			stroke-width: rem(2);
			stroke: currentColor;
		}
	}
	&__filter-mobile {
		@include media-breakpoint-down(xl) {
			@include mt;
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: var(--panel-bg, #{$white});
			border-radius: rem(12) rem(12) 0px 0px;
			padding: rem(16);
			z-index: 1000;
			transform: translateY(100%);
			.custom-select {
				margin-bottom: rem(16);
			}
		}
		@include media-breakpoint-up(xl) {
			display: flex;
			gap: rem(16);
		}
		&.active {
			transform: translateY(0);
		}
		.title {
			font-size: rem(20);
			margin-bottom: rem(20);
			@include media-breakpoint-up(xl) {
				display: none;
			}
		}
		.close {
			position: absolute;
			top: rem(22);
			right: rem(16);
			z-index: 1;
			.icon {
				font-size: rem(16);
			}
			@include media-breakpoint-up(xl) {
				display: none;
			}
		}
		.row {
			@include media-breakpoint-up(xl) {
				display: none;
			}
		}
		.custom-select {
			width: 100%;
			@include media-breakpoint-up(lg) {
				min-width: auto;
			}
			&__head {
				position: relative;
				padding: rem(22) rem(12) rem(8);
				@include media-breakpoint-up(xl) {
					padding: rem(25.351) rem(12) rem(11);
				}
				.placholder {
					position: absolute;
					top: rem(9);
					left: rem(12);
					font-family: $font-family-PTRootUI;
					font-size: rem(11);
					line-height: 1.3;
					color: var(--input-title, #{$gray-700});
				}
			}
			&__dropdown {
				@include media-breakpoint-down(xl) {
					top: unset;
					bottom: calc(100% + rem(8));
				}
			}
		}
	}
	&__input-wrap {
		position: relative;
		width: 100%;
		margin-bottom: rem(16);
		@include media-breakpoint-up(xl) {
			margin-bottom: 0;
		}
		label {
			width: 100%;
		}
		.icon {
			position: absolute;
			top: rem(17);
			right: rem(12);
			fill: none;
			stroke-width: rem(1);
			stroke: currentColor;
		}
	}
	&__input {
		border-radius: rem(12);
		border: 1px solid $gray-400;
		padding: rem(22) rem(40) rem(8) rem(12);
		@include media-breakpoint-up(xl) {
			padding: rem(22) rem(40) rem(11) rem(12);
		}
		&::placeholder {
			// color: rgba($color: $body-color, $alpha: 0.3);
			color: var(--body-color-dark, #1b1a1d);
		}
		&::-webkit-calendar-picker-indicator {
			background-image: var(--calendar, url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8333 3.33337H4.16667C3.24619 3.33337 2.5 4.07957 2.5 5.00004V16.6667C2.5 17.5872 3.24619 18.3334 4.16667 18.3334H15.8333C16.7538 18.3334 17.5 17.5872 17.5 16.6667V5.00004C17.5 4.07957 16.7538 3.33337 15.8333 3.33337Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.3335 1.66663V4.99996' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.6665 1.66663V4.99996' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.5 8.33337H17.5' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"));
			transform: translateY(-7px);
		}
	}
	&__input-title {
		position: absolute;
		top: rem(9);
		left: rem(12);
		font-family: $font-family-PTRootUI;
		font-size: rem(11);
		line-height: 1.3;
		color: var(--input-title, #{$gray-700});
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sDeal