// Dark color mode variables
//
// Custom variables for the `[data-bs-theme="dark"]` theme. Use this as a starting point for your own custom color modes by creating a new theme-specific file like `_variables-dark.scss` and adding the variables you need.

//
// Global colors
//

// scss-docs-start sass-dark-mode-vars
$primary-text-dark:                 $blue-300 !default;
$secondary-text-dark:               $gray-300 !default;
$success-text-dark:                 $green-300 !default;
$info-text-dark:                    $cyan-300 !default;
$warning-text-dark:                 $yellow-300 !default;
$danger-text-dark:                  $red-300 !default;
$light-text-dark:                   $gray-100 !default;
$dark-text-dark:                    $gray-300 !default;

$primary-bg-subtle-dark:            $blue-900 !default;
$secondary-bg-subtle-dark:          $gray-900 !default;
$success-bg-subtle-dark:            $green-900 !default;
$info-bg-subtle-dark:               $cyan-900 !default;
$warning-bg-subtle-dark:            $yellow-900 !default;
$danger-bg-subtle-dark:             $red-900 !default;
$light-bg-subtle-dark:              $gray-800 !default;
$dark-bg-subtle-dark:               mix($gray-800, $black) !default;

$primary-border-subtle-dark:        $blue-700 !default;
$secondary-border-subtle-dark:      $gray-700 !default;
$success-border-subtle-dark:        $green-700 !default;
$info-border-subtle-dark:           $cyan-800 !default;
$warning-border-subtle-dark:        $yellow-800 !default;
$danger-border-subtle-dark:         $red-700 !default;
$light-border-subtle-dark:          $gray-700 !default;
$dark-border-subtle-dark:           $gray-800 !default;

$body-color-dark:                   #E8EAF2;
$body-bg-dark:                      $gray-900 !default;
$body-emphasis-color-dark:          $gray-100 !default;
$body-secondary-color-dark:         rgba($body-color-dark, .75) !default;
$body-secondary-bg-dark:            $gray-800 !default;
$body-tertiary-color-dark:          rgba($body-color-dark, .5) !default;
$body-tertiary-bg-dark:             mix($gray-800, $gray-900, 50%) !default;
$emphasis-color-dark:               $white !default;
$border-color-dark:                 $gray-700 !default;
$border-color-translucent-dark:     rgba($white, .15) !default;
$headings-color-dark:               $body-color-dark;
$link-color-dark:                   $primary;
$link-hover-color-dark:             $link-hover-color;
$code-color-dark:                   $pink-300 !default;


//
// Forms
//

$form-select-indicator-color-dark:  $body-color-dark !default;
$form-select-indicator-dark:        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color-dark}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>") !default;

$form-switch-color-dark:            rgba($white, .25) !default;
$form-switch-bg-image-dark:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color-dark}'/></svg>") !default;


//
// Accordion
//

$accordion-button-icon-dark:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$primary-text-dark}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
$accordion-button-active-icon-dark:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$primary-text-dark}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
// scss-docs-end sass-dark-mode-vars


:root{
  --panel-bg: #fff;
}
[data-bs-theme=dark]{
  --panel-bg: #{$gray-800};
  --logo-bg: #{$gray-800};
  
  --stock-price-bg: #{$gray-800};
  --badge-bg-danger: rgba(255, 188, 173, 0.10);
  --badge-bg-success: rgba(183, 231, 182, 0.10);
  --badge-bg-accent: rgba(215, 226, 255, 0.10);
  --bs-badge-color-dark: #{$body-color-dark};
  --price-color-dark: #DBDEEB;

  --aside-color: $body-color-dark;
  --aside-bg-color: #333747;
  --icon-color: #E9BD6D;
  --body-color-dark: $body-color-dark;
  --body-color-dark-secondary: #DBDEEB;

  --table-th-color: #DBDEEB;
  --table-border-color: #525B7A;
  --offer-continue-bg :#1B1A1D;
  --gray-200: #292c38;
  --switcher-bg: #43485A;
  --switcher-btn-active-bg: #1B1A1D;
  --switcher-btn-color: #E8EAF2;
  --switcher-btn-active-shadow: rgba(0, 0, 0, 0.25);
  --input-title: #a7acbe;

  --select-chevron: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.58709 7.46209C5.9532 7.09597 6.5468 7.09597 6.91291 7.46209L10 10.5492L13.0871 7.46209C13.4532 7.09597 14.0468 7.09597 14.4129 7.46209C14.779 7.8282 14.779 8.4218 14.4129 8.78791L10 13.2008L5.58709 8.78791C5.22097 8.4218 5.22097 7.8282 5.58709 7.46209Z' fill='%23E8EAF2'/%3E%3C/svg%3E%0A");
  --calendar: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1663 3.33331H4.49967C3.5792 3.33331 2.83301 4.07951 2.83301 4.99998V16.6666C2.83301 17.5871 3.5792 18.3333 4.49967 18.3333H16.1663C17.0868 18.3333 17.833 17.5871 17.833 16.6666V4.99998C17.833 4.07951 17.0868 3.33331 16.1663 3.33331Z' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.666 1.66669V5.00002' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 1.66669V5.00002' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.83301 8.33331H17.833' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  @media (min-width: 768px) {
    --stock-price-bg: #{$gray-900};
  }

  .air-datepicker {
    --adp-background-color: #{$gray-800};
    --adp-background-color-hover:  #{$gray-900};
    --adp-background-color-active: #000;
    --adp-background-color-in-range: rgba(92, 196, 239, .1);
    --adp-background-color-in-range-focused: rgba(92, 196, 239, .2);
    --adp-background-color-selected-other-month-focused: #8ad5f4;
    --adp-background-color-selected-other-month: #a2ddf6;
    --adp-color: #fff;
    --adp-color-secondary: #8ad5f4;
    --adp-accent-color: #{$body-color-dark};
    --adp-color-other-month: var(--icon-color);
    --adp-color-disabled: #aeaeae;
    --adp-color-disabled-in-range: #939393;
    --adp-color-other-month-hover: #c5c5c5;
    --adp-border-color: #dbdbdb;
    --adp-border-color-inner: #efefef;
    --adp-border-color-inline: #d7d7d7;
    --adp-nav-arrow-color: var(--adp-color-secondary);
    --adp-nav-color-secondary: var(--adp-color-secondary);
    --adp-day-name-color: #ff9a19;
    --adp-day-name-color-hover: #8ad5f4;
    --adp-cell-background-color-selected: #5cc4ef;
    --adp-cell-background-color-selected-hover: #45bced;
    --adp-cell-background-color-in-range: rgba(92, 196, 239, 0.1);
    --adp-cell-background-color-in-range-hover: rgba(92, 196, 239, 0.2);
    --adp-cell-border-color-in-range: var(--adp-cell-background-color-selected);
    --adp-time-track-color: #dedede;
    --adp-time-track-color-hover: #b1b1b1;
  }

  &:root {
    --bs-success-rgb: 108, 212, 162;
    --bs-danger-rgb: 205, 115, 131;
    --bs-accent-rgb: 153, 160, 246;
  }
}