mixin sProducts()
	// start sProducts
	+b.SECTION.sProducts.section#sProducts&attributes(attributes)
		h1 Продукты
		+b.group
			+e.head
				h2 Действующие продукты
			+e.body
				+b.A.card(href='#')
					+e.img-wrap
						img(src="img/product-1.png", alt="")
					h3 Дивидендный 10К
					+e.sub-title Действует до: 24.12.2023
					p В целом, конечно, существующая теория развития. Являясь всего лишь вариацией текстового описания
				+b.A.card(href='#')
					+e.img-wrap
						img(src="img/product-3.png", alt="")
					h3 VIP Чаты
					+e.sub-title Действует до: 24.12.2023
					p В целом, конечно, существующая теория развития. Являясь всего лишь вариацией текстового описания
				+b.A.card(href='#')
					+e.img-wrap
						img(src="img/product-2.png", alt="")
					h3 Tenet 1.0
					+e.sub-title Действует до: 24.12.2023
					p В целом, конечно, существующая теория развития. Являясь всего лишь вариацией текстового описания
		+b.group
			+e.head
				h2 Остальные продукты
			+e.body
				+b.A.card(href='#')
					+e.img-wrap
						img(src="img/product-1.png", alt="")
					h3 Дивидендный 10К
					+e.sub-title Действует до: 24.12.2023
					p В целом, конечно, существующая теория развития. Являясь всего лишь вариацией текстового описания
				+b.A.card(href='#')
					+e.img-wrap
						img(src="img/product-2.png", alt="")
					h3 Tenet 1.0
					+e.sub-title Действует до: 24.12.2023
					p В целом, конечно, существующая теория развития. Являясь всего лишь вариацией текстового описания
				+b.A.card(href='#')
					+e.img-wrap
						img(src="img/product-3.png", alt="")
					h3 VIP Чаты
					+e.sub-title Действует до: 24.12.2023
					p В целом, конечно, существующая теория развития. Являясь всего лишь вариацией текстового описания

	// end sProducts