extends ../layout/login.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sBaseBlock/_sBaseBlock.pug

block variables
	- let  mainPage= 'login-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Личный кабинет'
	title= title
block pagecontent

	main
		+sBaseBlock(title,'Авторизуйтесь в вашем личном кабинете')
		
		
	//- +parts('footer')
      



