extends ../layout/login.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sBaseBlock/_sBaseBlock.pug

block variables
	- let  mainPage= 'login-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Проверочный код'
	title= title
block pagecontent

	main
		+sBaseBlock(title,'Сейчас робот позвонит вам на телефон +79990899999. Введите последние 4 цифры номера, с которого позвонит робот. Поднимать трубку необязательно.')
			+e.btn-row.row.my-4.gy-2
				.col-12
					+e.sms-row.row.justify-content-center
						.col-auto
							+input("-")
						.col-auto
							+input("-")
						.col-auto
							+input("-")
						.col-auto
							+input("-")
					button.btn.btn-primary.w-100 Отправить
				p.mt-4 Запросить код повторно можно через 0 мин 54 сек.
	//- +parts('footer')
      



