extends ../layout/login.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sBaseBlock/_sBaseBlock.pug

block variables
	- let  mainPage= 'login-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Восстановление пароля'
	title= title
block pagecontent

	main
		+sBaseBlock(title,'Введите ваш номер телефона')
			+input("Номер телефона",'tel')
			+e.btn-row.row.my-4.gy-2
				.col-12
					button.btn.btn-primary.w-100 Получить код
		
	//- +parts('footer')
      



