mixin sProduct()
	// start sProduct
	+b.SECTION.sProduct.section#sProduct&attributes(attributes)
		//- Description
		.description
			.title-wrap
				+icon('arrowBack')
				h1 VIP чаты
			p Покупка доставка и таможенная очистка автомобилей с любого рынка мира
			p Готов взять в управление деньги. Купить машины те которые пользуются максимальным спросом и ликвидностью на рынке. Привезти растаможить и продать через свою сеть своими сотрудниками. Прибыль поделить 50/50.Готов взять в управление деньги. Купить машины те которые пользуются максимальным спросом и ликвидностью на рынке. Привезти растаможить и продать через свою сеть своими сотрудниками. Прибыль поделить 50/50.
		//- chats-group
		+b.chats-group
			+e.chat
				h3 Чат инвестиций
				p Покупка доставка и таможенная очистка автомобилей с любого рынка мира. Готов взять в управление деньги. Купить машины те которые пользуются максимальным спросом и ликвидностью на рынке.
				button.btn Подключиться к чату
			+e.chat
				h3 Чат нетворкинга
				p Покупка доставка и таможенная очистка автомобилей с любого рынка мира. Готов взять в управление деньги. Купить машины те которые пользуются максимальным спросом и ликвидностью на рынке.
				button.btn Подключиться к чату
		//- offer
		.offer
			.valid
				.valid-until
					p Действует до
					p 24.12.2024
				button.btn.btn-primary Продлить
			//- a(href="#").video-link
			//- 	+icon('play')
		//- my shopping
		+b.shopping
			+e.title-wrap
				p Мои покупки продукта
				button.btn Все покупки
			+e.card
				.id
					p ID 12123432
					p 21.09.2023
						+icon('info')
				p Клуб «Мир без границ». Апгрейд
				.valitity-period
					.period
						p Действие продукта в рамках тарифа
						p 12.04.2023 — 15.04.2024
					p.price 120 000 р.




	// end sProduct