mixin sProduct()
	// start sProduct
	+b.SECTION.sProduct.section#sProduct&attributes(attributes)
		.row
			.col-lg-8.col-md-12
				//- Description
				.content
					+b.description
						+e.title-wrap
							a(href='#').text-body: +icon('arrowBack')
							h1 VIP чаты
						h2 Покупка доставка и таможенная очистка автомобилей с любого рынка мира
						+b.offer
							+e.continue
								.valid-until
									p Действует до
									p 24.12.2024
								button.btn.btn-primary Продлить
							+b.A(href="https://www.youtube.com/watch?v=I5n68J1i-z8" data-fancybox).video-link
								+e.IMG(src="img/ref-prev-video.png", alt="")
								+icon('play')
						+e.P Готов взять в управление деньги. Купить машины те которые пользуются максимальным спросом и ликвидностью на рынке. Привезти растаможить и продать через свою сеть своими сотрудниками. Прибыль поделить 50/50.Готов взять в управление деньги. Купить машины те которые пользуются максимальным спросом и ликвидностью на рынке. Привезти растаможить и продать через свою сеть своими сотрудниками. Прибыль поделить 50/50.
					//- chats-group
					+b.chats-group
						+e.chat
							h3 Чат инвестиций
							p Покупка доставка и таможенная очистка автомобилей с любого рынка мира. Готов взять в управление деньги. Купить машины те которые пользуются максимальным спросом и ликвидностью на рынке.
							button.btn.btn-primary Подключиться к чату
							img(src="img/chat.png", alt="")
						+e.chat
							h3 Чат нетворкинга
							p Покупка доставка и таможенная очистка автомобилей с любого рынка мира. Готов взять в управление деньги. Купить машины те которые пользуются максимальным спросом и ликвидностью на рынке.
							button.btn.btn-primary Подключиться к чату
							img(src="img/chat-rotate.png", alt="")
			//- offer
			.col-lg-4.col-md-12
				.offer-content
					+b.offer
						+e.continue
							.valid-until
								p Действует до
								p 24.12.2024
							button.btn.btn-primary Продлить
						+b.A(href="https://www.youtube.com/watch?v=I5n68J1i-z8" data-fancybox).video-link
							+e.IMG(src="img/ref-prev-video.png", alt="")
							+icon('play')
					//- my shopping
					+b.shopping
						+e.title-wrap
							h3 Мои покупки продукта
							button.btn.btn-sm.btn-outline-dark.text-body Все покупки
						.group
							+e.card
								.id
									p ID 12123432
									p 21.09.2023
										a(href='#')
											+iconC('info')
								p Клуб «Мир без границ». Апгрейд
								.valitity-period
									.period
										p Действие продукта в рамках тарифа
										p 12.04.2023 — 15.04.2024
									.price 120 000 р.
							+e.card
								.id
									p ID 12123432
									p 21.09.2023
										a(href='#'): +iconC('info')
								p Клуб «Мир без границ». Апгрейд
								.valitity-period
									.period
										p Действие продукта в рамках тарифа
										p 12.04.2023 — 15.04.2024
									.price 120 000 р.
							+e.card
								.id
									p ID 12123432
									p 21.09.2023
										a(href='#'): +iconC('info')
								p Клуб «Мир без границ». Апгрейд
								.valitity-period
									.period
										p Действие продукта в рамках тарифа
										p 12.04.2023 — 15.04.2024
									.price 120 000 р.




	// end sProduct