

mixin sReferalProgram()
	// start sReferalProgram
	+b.SECTION.sReferalProgram.section#sReferalProgram&attributes(attributes)
		+e.contant
			h1 Реферальная программа
			p Готов взять в управление деньги. Купить машины те которые пользуются максимальным спросом и ликвидностью на рынке. Привезти растаможить и продать через свою сеть своими сотрудниками. Прибыль поделить 50/50.Готов взять в управление деньги. Купить машины те которые пользуются максимальным спросом и ликвидностью на рынке. Привезти растаможить и продать через свою сеть своими сотрудниками. Прибыль поделить 50/50.
			+b.A(href="https://www.youtube.com/watch?v=I5n68J1i-z8" data-fancybox).video-link
				+e.IMG(src="img/ref-prev-video.png", alt="")
				+icon('play')
			button.btn.btn-primary Завести реферальный кабинет
		.img-wrap
			img.bg-img(src="img/ref-hands.png", alt="")



	// end sReferalProgram