mixin sReferalProgram()
	// start sReferalProgram
	+b.SECTION.sReferalProgram.section#sReferalProgram&attributes(attributes)
		+e.contant
			h1 Реферальная программа
			p Готов взять в управление деньги. Купить машины те которые пользуются максимальным спросом и ликвидностью на рынке. Привезти растаможить и продать через свою сеть своими сотрудниками. Прибыль поделить 50/50.Готов взять в управление деньги. Купить машины те которые пользуются максимальным спросом и ликвидностью на рынке. Привезти растаможить и продать через свою сеть своими сотрудниками. Прибыль поделить 50/50.
			a(href="#").video-link
				+icon('play')
			button.btn Завести реферальный кабинет
		img.bg(src="img/ref-hands.png", alt="")



	// end sReferalProgram