.top-nav {
	&__wrap {
		padding: rem(10.25) rem(6) rem(10.25) rem(12);
		border-radius: rem(8);
		background-color: var(--panel-bg, #fff);
		height: 100%;
		display: flex;
		@include media-breakpoint-up(md) {
			padding: rem(16) rem(16) rem(12) rem(16);
			border-radius: rem(16);
		}
		@include media-breakpoint-up(md) {
			display: block;
		}
		&--middle {
			padding: 0;
			background-color: transparent;
			display: block;
			@include media-breakpoint-up(md) {
				padding: rem(18);
				background-color: var(--panel-bg, #fff);
			}
			@include media-breakpoint-up(xxl) {
				padding: rem(20) rem(24.2);
			}
			.row {
				--bs-gutter-x: #{rem(12)};
				--bs-gutter-y: #{rem(16)};
				height: 100%;
				justify-content: center;
				@include media-breakpoint-up(md) {
					--bs-gutter-x: #{rem(16)};
					--bs-gutter-y: 0;
					align-items: center;
				}
				@include media-breakpoint-up(lg) {
					justify-content: flex-start;
				}
			}
		}
	}
	&__row {
		--bs-gutter-x: #{rem(12)};
		--bs-gutter-y: #{rem(16)};
		@include media-breakpoint-up(md) {
			--bs-gutter-x: #{rem(16)};
		}
	}
	&__profile-col {
		@include media-breakpoint-up(xl) {
			max-width: calc(rem(312) + var(--bs-gutter-x));
		}
	}
	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		font-family: $font-family-Inter;
		font-weight: 700;
		font-size: rem(6.856);
		line-height: normal;
		border-radius: rem(8);
		background-color: var(--logo-bg, $body-color);
		color: $white;
		width: rem(61);
		height: rem(61);
		line-height: 1.2;
		@include media-breakpoint-up(md) {
			font-size: rem(11);
			width: rem(94);
			height: rem(94);
			border-radius: rem(16);
		}
		img {
			display: block;
			margin: 0 auto;
			width: 100%;
			max-width: rem(22.5);
			margin-bottom: rem(5.5);
			@include media-breakpoint-up(md) {
				max-width: rem(33);
				margin-bottom: rem(9);
			}
		}
	}
	&__inner {
		display: flex;
		align-items: center;
		font-family: $font-family-monospace;
		width: 100%;
		@include media-breakpoint-up(md) {
			margin-bottom: rem(5);
		}
	}
	&__initial {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 auto;
		border-radius: 50%;
		font-size: rem(14);
		background-color: $yellow-300;
		padding: rem(2);
		margin-right: rem(10);
		min-width: rem(37);
		min-height: rem(37);
		color: var(--initial-color, $body-color);
	}
	&__text {
		max-width: rem(130);
		@media screen and (min-width: 340px) {
			max-width: rem(150);
		}
		@include media-breakpoint-up(md) {
			max-width: rem(200);
		}
	}
	&__name {
		@include ellips;
		font-size: rem(14);
		line-height: 1.4;
	}
	&__tel {
		@include ellips;
		font-size: rem(12);
		line-height: 1.4;
		color: $gray-600;
		&:hover {
			color: $primary;
		}
	}
	&__log-out {
		flex: 0 0 auto;
		margin-left: auto;
		color: $black;
		&:hover {
			color: $danger;
		}
		.icon {
			font-size: rem(20);
			fill: none;
			stroke: currentColor;
			stroke-width: rem(2);
		}
	}
	&__edit {
		font-family: $font-family-monospace;
		font-size: rem(12);
		line-height: 1.40;
		display: none;
		@include media-breakpoint-up(md) {
			display: inline;
		}
	}
	&__author {
		font-size: rem(14);
		line-height: 1.2;
		@include media-breakpoint-up(xl) {
			font-size: rem(11);
		}
		@include media-breakpoint-up(xxl) {
			min-width: rem(250);
			font-size: rem(14);
		}
		span {
			font-family: $font-family-HelveticaNeueLTStd;
			font-weight: 700;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background-color: var(--stock-price-bg, #fff);
		padding: rem(12);
		border-radius: rem(8);
		height: 100%;
		@include media-breakpoint-up(md) {
			flex-direction: row;
			align-items: center;
			background-color: var(--stock-price-bg, $gray-100);
			padding: rem(11) rem(12);
			border-radius: rem(12);
		}
		&-text {
			margin-right: rem(8);
			font-size: rem(11);
			line-height: 1.3;
			font-family: $font-family-PTRootUI;
			margin-bottom: auto;
			@include media-breakpoint-up(md) {
				max-width: rem(78);
				margin-bottom: 0;
			}
			@include media-breakpoint-up(xxl) {
				margin-right: auto;
			}
		}
		.badge {
			// margin-left: rem(16);
			@include media-breakpoint-up(md) {
				margin-left: rem(8);
			}
			@include media-breakpoint-up(xxl) {
				margin-left: rem(16);
			}
		}
	}
	&__price {
		color: $gray-600;
		font-size: rem(18);
		line-height: 1.4;
		margin-bottom: rem(8);
		.text-danger {
			color: var(--price-color-dark, rgba(var(--bs-danger-rgb),var(--bs-text-opacity)))!important;
		}
		.text-success {
			color: var(--price-color-dark, rgba(var(--bs-success-rgb),var(--bs-text-opacity)))!important;
		}
		@include media-breakpoint-up(md) {
			font-size: rem(14);
			margin-bottom: 0;
		}
		@include media-breakpoint-up(xxl) {
			font-size: rem(18);
		}
	}
	@include media-breakpoint-up(sm) {}
	
	@include media-breakpoint-up(xs) {}
	// 
	@include media-breakpoint-between(md, xl) {}
	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-down(xs) {}
}


