include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1"  inputmode='numeric')
		+e.btn--plus(type="button")



mixin search()
	+b.search-block
		form
			button 
				+icon("search")
			input(type="text" placeholder="Теги" inputmode='search')

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)

			h1= t

mixin parts(elem)
	script.
		addBlock(`#{elem}`)
	div(id=`${elem}Wrap`)

mixin customSelect()
	+b.custom-select--js
		+e.head
			p Дивидендный 40 000 ₽
			span Открыт: 14 дек 2023
		+e.dropdown
			+e.dropdown-item
				p Дивидендный 10 000 ₽
				span Открыт: 4 дек 2023
			+e.dropdown-item
				p Дивидендный 20 000 ₽
				span Открыт: 8 дек 2023
			+e.dropdown-item
				p Дивидендный 30 000 ₽
				span Открыт: 12 дек 2023