mixin sAnalytics(data)
	// start sAnalytics
	+b.SECTION.sAnalytics.section#sAnalytics&attributes(attributes)
		+b.section-title
			h1 Аналитика
		+customSelect
		.tabs
			.tabs__caption
				.tabs__btn.active Акции
				.tabs__btn Компании
				.tabs__btn Отрасли
			.tabs__wrap
				.tabs__content.active
					.h3 Акции
					table
						thead
							tr
								th Название
								th.text-lg-end Цена
								th.text-lg-end Стоимость
								th.text-lg-end Стоимость
						tbody
							mixin tr(img, title, text)
								tr
									td
										+e.item
											+e.img-wrap: +img(`img/${img}`, 'bg')
											div
												.h4!= title
												p!= text
									td.text-lg-end
										span.title Цена
										+e.price #[span 347,05] &nbsp;₽ →&nbsp; #[span.text-success  380,05] &nbsp;₽
									td.text-lg-end 
										span.title Стоимость
										+e.price
											| #[span 347,05] &nbsp;₽
											+e.subtext 1 шт
									td.text-lg-end 
										span.title Стоимость
										+e.price 
											| #[span.text-success +350,14] &nbsp;₽
											+e.subtext.text-success 0,06%
							+tr('table-img-2.jpg', 'Whoosh', 'MLTP')
							+tr('table-img-3.jpg', 'Whoosh', 'MLTP')
							+tr('table-img-4.jpg', 'ИранНефть', 'MLTP')
							tr
								td
									+e.item
										+e.img-wrap: +img(`img/table-img-3.jpg`, 'bg')
										div
											.h4 Whoosh
											p MLTP
								td.text-lg-end
									span.title Цена
									+e.price #[span 11 580,05] &nbsp;₽ →&nbsp; #[span.text-danger 10 380,05] &nbsp;₽
								td.text-lg-end 
									span.title Стоимость
									+e.price
										| #[span 5 347,05] &nbsp;₽
										+e.subtext 1 шт
								td.text-lg-end 
									span.title Стоимость
									+e.price 
										| #[span.text-danger -1 350,14] &nbsp;₽
										+e.subtext.text-danger 0,06%
							+tr('table-img-2.jpg', 'Whoosh', 'MLTP')
							+tr('table-img-3.jpg', 'Whoosh', 'MLTP')
							+tr('table-img-4.jpg', 'ИранНефть', 'MLTP')
							+tr('table-img-2.jpg', 'Whoosh', 'MLTP')
							+tr('table-img-3.jpg', 'Whoosh', 'MLTP')
							+tr('table-img-4.jpg', 'ИранНефть', 'MLTP')
							+tr('table-img-2.jpg', 'Whoosh', 'MLTP')
							+tr('table-img-3.jpg', 'Whoosh', 'MLTP')
							+tr('table-img-4.jpg', 'ИранНефть', 'MLTP')
							+tr('table-img-2.jpg', 'Whoosh', 'MLTP')
							+tr('table-img-3.jpg', 'Whoosh', 'MLTP')
							+tr('table-img-4.jpg', 'ИранНефть', 'MLTP')
				.tabs__content
					.h3 Компании
					canvas.chart-doughnut-js
				.tabs__content
					.h3 Отрасли
					canvas.chart-doughnut-js
	// end sAnalytics